@import "tailwindcss";

@theme {
  --font-optima: var(--font-optima);
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #bd9951 transparent;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(189, 153, 81, 0.3);
    border-radius: 20px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(189, 153, 81, 0.6);
  }
}

:root {
  background-color: #f9f9f9;
  overflow-x: hidden;
}
