/*** OVERRIDES ***/
#product-image img.cloudzoom {
    max-width: 100%;
}
.cloudzoom-zoom-inside {
  cursor: zoom-in;
  z-index: 1;
}
.thumbelina {
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
}
.thumbelina li img, .thumbelina li img:hover {
  height: auto;
    border: none;
    width: 80%;
}
.thumbelina-but.vert {
  line-height: 28px;
}
.thumbelina-but.vert {
    left: -1px;
    height: 20px;
    line-height: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.thumbelina-but.vert {
    left: inherit;
}
.thumbelina-but {
    background-color: inherit !important;
    border: 0px solid #aaa;
    box-shadow: inherit;
    font-size: 30px;
  }

/*** CUSTOM ***/

/*#thumbnails {
  position: relative;
  width: 93px;
  height: 330px;
  background-color: #fff;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  float: left;
  margin-top: 20px;
  z-index: 2;
}*/
.thumbelina-but.vert.top {
    top: -40px;
    border-radius: 5px 5px 0px 0px;
    color: #000;
    box-shadow: none !important;
    cursor: pointer;
    left: 0;
    padding: 0 0 40px 0;
    line-height: 42px;
}
.thumbelina-but.vert.bottom {
    bottom: -29px;
    
    box-shadow: inherit;
    color: #000;
    cursor: pointer;
    left: 0;
    padding: 0 0 29px 0;
    line-height: 42px;
}
.thumbelina-but.vert.bottom.disabled {
    color: #ccc;
}
.thumbelina-but.vert.top.disabled {
    color: #ccc;
}
.close-quick-view {
    position: absolute;
    top: 3px;
    right: 0;
    background: #fff;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border: 1px solid #000;
    align-content: center;
    cursor: pointer;
}
#thumbnails {
    position: relative;
    width: 125px;
    height: 550px;
    background-color: #fff;
    float: left;
    margin-top: 45px;
    z-index: 99999999;
    text-align: center;
}
.quick-view-wrapper div#thumbnails {
    width: 81px;
    height: 425px;
    top: 24px;
}
.fullscreen #thumbnails {
    position: fixed;
    top: 114px;
    left: 8px;
    opacity: 0.8;
    width: 95px;
    padding: 0;
    height: 50%;
    z-index: 9999999999;
}
#thumbnails a {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.thumbelina li {
    padding: 0 0 20px;
    line-height: 0px;
    margin: 0px;
}
/* Prevent FOUC */
#thumbnails ul {
  visibility: hidden;
}
#thumbnails ul.thumbelina {
  visibility: visible;
}
#product-image {
  position: relative;
  display: inline-block;
  line-height: 0;
  margin-left: 1rem;
  width: 77%;
  cursor: zoom-in;
}

#zoom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadeout 0.5s; /* Sync with JS */
  
  background-position: 50% 50%;
  background-size: cover;
  cursor: zoom-out;
  display: none;
  opacity: 0;
  z-index: 999999999;
}

.fullscreen {
  overflow: hidden;
}
.fullscreen .cloudzoom-zoom-inside {
  visibility: hidden; /* Prevent FOUC */
}

.fullscreen #zoom-overlay {
  animation: fadein 0.5s; /* Sync with JS */
  display: block;
  opacity: 1;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@media (max-width: 1400px)
{
    #product-image {
        width: 75%;
    }
}
@media (max-width: 1199px)
{
    #thumbnails {
        position: relative;
        width: 105px;
    }
}
@media (max-width: 767px)
{
   
    #thumbnails {
        position: relative;
        width: 80px;
        height: 285px;
    }
   
}
@media (max-width: 552px)
{
    #product-image {
        width: 67%;
        position: relative;
        top: 46px;
    }
}